{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@loadable/babel-plugin",
    [
      "css-modules-transform",
      {
        "extensions": [
          ".css",
          ".scss"
        ]
      }
    ]
  ]
}